
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height: 100%;
}
h1{
  font-size: 34px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 18px;
}
a{
  text-decoration: none;
}

/*CSS HEADER*/

.header{
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgba(28, 28, 28, 1)
}
.logo{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7C5C0A;
}
.menuDesk{
  display: flex;
  width: 80%;
  
}
.menuDesk ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 5%;
  
}
.menuDesk ul li {
  padding:0 15px ;
  list-style: none;
  
}
.menuDesk ul li a{
  color: #ccc;
  transition: all ease-in-out 0.9s;
}
.menuDesk a h3:hover{
   color:rgba(124, 92, 10, 1) ;
}
.colorPath{
  color: #7C5C0A;
}

.mobile{
  display: none;
}
.menuMobileClosed{
  display: none;
}
.menuMobile{
  border-top:  2px solid #ccc;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(28, 28, 28, 1);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}

.menuMobile ul li {
 padding: 17px 0;
  list-style: none;
  
}
.menuMobile ul li a{
  color: #ccc;
  transition: all ease-in-out 0.9s;
}
.menuMobile a h3:hover{
   color:rgba(124, 92, 10, 1) ;
}

/*----------------*/

/*CSS BANNER BARBER*/
.boxBanner{
  position: relative;
 width: 100%;
 height: 89vh;
 background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/banner.jpg');
 background-size: cover;
 background-position:center;
}
.boxBannerOpenClosed{
  position: absolute;
  right: 180px;
  top: 120px;

}
.boxChamada{
  position: absolute;
  top: 120px;
  left: 140px;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
 align-items: center;
}
.boxChamadaTitle{
  width: 100%;
  color: #ccc;
  text-transform: uppercase;
  padding: 17px 0;
  text-align: left;

}
.boxChamadaText{
  padding: 17px 0;
  width: 100%;
  font-size: 20px;
  color: #ccc;

}
.boxButton{
  width: 100%;
  padding: 17px 0;
}
.btnClass{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #7C5C0A;
  color: #ccc;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
/*-------------------*/

/* CSS SOBRE */
.boxSobre{
  width: 100%;
  height: 100vh;
  background-color: rgba(28, 28, 28, 1)
}
.boxSobreFlex{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 2%;

}
.boxSobreText{
  width: 50%;
  height: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
  padding: 5px 10px;
 
}
.boxSobreTitle{
  width: 100%;
  padding: 17px 0;
  font-weight: bold;
  color: #ccc;
}
.boxSobreTitleSub{
  width: 100%;
  padding: 17px 0;
  color: #ccc;
}
.boxSobreDescription{
  width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #ccc;
}
.boxSobreMustache{
  width: 100%;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.boxBorder{
  width: 150px;
  height: 1px;
  background-color: #fff;
  display: block;
}
.boxSobrHistory{
  text-align: center;
  width: 100%;
  color: #ccc;
  font-size: 20px;
}
.boxSobreImg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 500px;
  
}
.boxSobreImg img{
  width: 80%;
  height: 500px;
}
/*--------------------*/
/*CSS SERVIÇOS*/
.boxServicos{
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 1)
}
.boxServicos h1{
  color: #ccc;
}
.boxServicosFlex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.boxService{
  padding: 10px;
  margin-top: 90px;
  width: 299px;
  border: solid 2px #7C5C0A;
  background-color: rgba(28, 28, 28, 1);
  transition: all ease-in-out 1s;
}
.boxService:hover{
 background-color:#363636 ;
}
.boxServiceImg{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 17px 0;
}
.boxServiceImg span{
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}
.boxServicePrice{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  gap: 5px;
  color: #ccc;
  padding: 17px 0;
}
.boxServicePriceTitle{
 width: 40%;

}
.boxServicePriceBorder{
  height: 2px;
 
  background-color: #ccc;
  display: block;
  width: 35%;
 
}
.boxServicePricePrice{
  width: 20%;
}
.boxServiceMustache{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 2%;
}
.boxServiceBorder{
  display: block;
  width: 400px;
  background-color: #fff;
  height: 2px;
}
/*---------------------*/

/*CSS CONTATO*/
.boxContato{
  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('/bannerForm.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding:100px 0;
}
.boxContatoFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;
}
.boxContatoText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 40%;
  max-width: 500px;
  height: 100%;
 
 
  
}
.boxContatoMustache{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.boxContatoDescr{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #ccc;
  gap: 15px;
  padding: 5px 0;
}
.boxContatoDescr a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #ccc;
  gap: 15px;
  padding: 5px 0;
  transition: all ease-in-out 1s;
}
.boxContatoDescr a:hover{
   color: #fff;
}
.boxContatoDescr span{
  font-weight: bold;
  font-size: 20px;
}
.boxContatoDescr p{
  
  font-size: 18px;
}
.boxContatoForm{
  width: 60%;
  max-width: 450px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25px 2%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #7C5C0A;
}
.boxContatoForm h1{
 color: #ccc;
 font-size: 24px;
}
.boxContatoFormulario{
 
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.boxContatoInput{
  width: 98%;
 padding-bottom: 15px;
 
}
.boxContatoInput input{
  background-color: transparent;
  padding-left: 15px;
  width: 98%;
  height: 42px;
  border: 1px solid #7C5C0A;
  outline: none;
  color: #fff;
  font-size: 17px;
 
  
}
.boxContatoInput input::placeholder{
  color: #fff;
}
.boxContatoServices{
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.boxContatoCortes select{
  margin-bottom: 25px;
  width: 220px;
  height: 30px;
  font-size: 15px;
  background-color: #363636;
  border:1px solid #7C5C0A;
  outline:none;
  color: #ccc;
  padding: 0 10px;

}
.boxContatoBtn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------------------*/
/*CSS GALERIA*/
.boxGaleria{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: #363636;

}
.boxGaleria h1{
  color: #ccc;
  padding: 30px 0;
}
.boxGaleriaFlex{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  
}
.boxGaleriaImg{

  width: auto;
  height: 330px;
  
}
.boxGaleriaImg img {
  border: 2px solid #7C5C0A;
  width: 100%;
  height: 100%;
}
.boxGaleriaBtn{
  padding: 30px 0;
}
.boxDepoimentos{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxDepoimentoDescript {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.boxDepoimentoDescr{
  margin-top: 40px;
  text-align: justify;
  color: #fff;
  padding:0 30px;
 
}
.boxDepoimentoCliente{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media  screen and (min-width:700px) {
  .menuMobile{
    display: none;
  }
}
@media screen and (max-width:890px) {
  .boxContatoFlex{
    flex-direction: column;
  }
  .boxContatoForm{
    width: 100%;
    max-width: 800px;
  }
  .boxContatoText{
    width: 100%;
    
    
  }
  .boxContatoMustache{
    padding-left: 0;
    justify-content: center;
  }
  .boxContatoFormulario{
    padding: 50px 0;
  }
}
@media  screen and (max-width:800px) {
  .menuDesk ul{
    display: none;
  }
  .mobile{
    width: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .boxChamada{
   top: 0;
   left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .boxChamadaTitle,.boxButton{
    text-align: center;
  }
  .boxChamadaText{
    width: 100%;
    max-width: 450px;
    text-align: justify;
    padding: 0 2%;
  }
  .boxSobre{
    height: 100%;
    padding: 15px 0;
  }

  .boxSobreFlex{
    flex-direction: column-reverse;
  }
  .boxSobreText{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .boxSobreDescription{
    width: 100%;
    max-width: 500px;
    padding: 17px 0;
  }
  .boxSobreImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }
  .boxsobreImg img{
    width: 100%;
  }
  .boxServicos{
    height: 100%;
    
  }

  .boxServicosFlex{
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: 100%;
  }
  .boxService{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .boxServiceImg{
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:650px) {
  .boxGaleriaImg{
    width: 100%;
    height: auto;
    
  }
  
}