@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  color: #fff;
}

h2 {
  font-size: 18px;
  color: #ccc;
}
p{
  font-size: 17px;
}

h3 {
  font-size: 15px;
}

a {
  text-decoration: none;
}
span {
  font-size: 17px !important;
}
.error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0;
 
}
.error span{
  font-size: 13px !important;
}

/*CSS HEADER*/

.header {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgba(28, 28, 28, 1);
}

.logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7c5c0a;
}

.menuDesk {
  display: flex;
  width: 80%;
}

.menuDesk ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2%;
}

.menuDesk ul li {
  padding: 0 15px;
  list-style: none;
}

.menuDesk ul li a {
  color: #ccc;
  transition: all ease-in-out 0.9s;
 
}

.menuDesk ul li a:hover {
  transition: all ease-in-out 1s;
  color: #ccac00 ;
}

.colorPath {
  color: #ccac00 !important;
}

.mobile {
  cursor: pointer;
  display: none;
}


.menuMobileClosed {
  border-top: 2px solid #ccc;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(28, 28, 28, 1);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  transform: translateY(-1500px);
  transition: all ease-in-out 0.8s;
}

.menuMobileClosed ul li {
  padding: 17px 0;
  list-style: none;
}

.menuMobileClosed ul li a {
  color: #ccc;
  transition: all ease-in-out 0.9s;
}



.menuMobile {
  border-top: 2px solid #ccc;
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(28, 28, 28, 1);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  transform: translateY(0px);
  transition: all ease-in-out 1s;
}

.menuMobile ul li {
  padding: 17px 0;
  list-style: none;
}

.menuMobile ul li a {
  color: #ccc;
  transition: all ease-in-out 0.9s;
}

.menuMobile a h3:hover {
  color: rgba(124, 92, 10, 1);
}

/*----------------*/

/*CSS BANNER BARBER*/
.boxBanner {
  position: relative;
  width: 100%;
  height: 89vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("/banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}


.boxChamada {
  position: absolute;
  top: 120px;
  left: 140px;
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxChamadaTitle {
  width: 100%;
  color: #ccc;
  text-transform: uppercase;
  padding: 17px 0;
  text-align: left;
}

.boxChamadaText {
  padding: 17px 0;
  width: 100%;
  font-size: 20px;
  color: #ccc;
}

.boxButton {
  width: 100%;
  padding: 17px 0;
}

.btnClass {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #ccac00;
  color: #000;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------*/

/* CSS SOBRE */
.boxSobre {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  background-color: rgba(28, 28, 28, 1);
}

.boxSobreFlex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 2%;
}

.boxSobreText {
  width: 60%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 10px;
}

.boxSobreTitle {
  width: 100%;
  padding: 17px 0;
  font-weight: bold;
  color: #ccc;
}

.boxSobreTitleSub {
  width: 100%;
  padding: 17px 0;
  color: #ccc;
}

.boxSobreDescription {
  width: 100%;
  text-align: justify;
  font-size: 20px;
  color: #ccc;
}

.boxSobreMustache {
  width: 100%;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.boxBorder {
  width: 150px;
  height: 1px;
  background-color: #fff;
  display: block;
}

.boxSobrHistory {
  text-align: center;
  width: 100%;
  color: #ccc;
  font-size: 20px;
}

.boxSobreImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  max-height: 500px;


}
.sobreBarberImg{
  border-radius: 15px;
  height: 100%;
  max-height: 500px;
  background-position: 50% 50%;
 
}


/*--------------------*/
/*CSS SERVIÇOS*/
.boxServicos {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 1);
}

.boxServicos h1 {
  color: #ccc;
}

.boxServicosFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 29px;
}

.boxService {
  padding: 10px;
  margin-top: 90px;
  width: 199px;
  height: 199px;
  border: solid 2px #7c5c0a;
  background-color: rgba(28, 28, 28, 1);
  transition: all ease-in-out 1s !important;
  border-radius: 50%;
}

.boxService:hover {
  margin-top: -30px;
  transition: ease-in-out 1s !important;
  background-color: #363636;
}

.boxServiceImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 17px 0;
}

.boxServiceImg span {
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}

.boxServicePrice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #ccc;
  padding: 17px 0;
}

.boxServicePriceTitle {
  width: 40%;
}

.boxServicePriceBorder {
  height: 2px;

  background-color: #ccc;
  display: block;
  width: 35%;
}

.boxServicePricePrice {
  width: 20%;
}

.boxServiceMustache {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 2%;
}

.boxServiceBorder {
  display: block;
  width: 400px;
  background-color: #fff;
  height: 2px;
}

/*---------------------*/

/*CSS CONTATO*/
.boxContato {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bannerForm.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.boxContatoFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 25px;
}

.boxContatoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width: 40%;
  max-width: 500px;
  height: 100%;
}

.boxContatoMustache {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContatoAdress {
  width: 100%;
  padding: 5px;
}

.boxAdress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}

.boxAdressTitle h2 {
  padding: 0;
  text-align: center;
}

.boxIframeAdress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContatoNumbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxContatoNumber a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  transition: all ease-in-out 0.9s;
}

.boxContatoNumber a:hover {
  color: gray;
}

.boxContatoForm {
  width: 60%;
  max-width: 450px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 25px 2%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid 1px #7c5c0a;
  border-radius: 2px;
}

.boxContatoForm h1 {
  color: #ccc;
  font-size: 24px;
}

.boxContatoFormulario {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.boxContatoInput {
  width: 98%;
  padding-bottom: 15px;
}

.boxContatoInput input {
  background-color: transparent;
  padding-left: 15px;
  width: 98%;
  height: 42px;
  border: 1px solid #ccc;
  outline: none;
  color: #fff;
  font-size: 17px;
  border-radius: 2px;
  transition: all ease-in-out 1s;
}

.boxContatoInput input:focus {
  transition: all ease-in-out 1s;
  border: 1px solid #7c5c0a;
}

.boxContatoInput input::placeholder {
  color: #ccc;
}

.boxContatoServices {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
}

.boxContatoServices h2 {
  padding: 8px 0;
}

.boxContatoCortes select {
  margin-bottom: 5px;
  width: 220px;
  height: 30px;
  font-size: 15px;
  background-color: #363636;
  border: 1px solid #7c5c0a;
  outline: none;
  color: #ccc;
  padding: 0 10px;
}

.boxContatoColaborador select {
  margin-bottom: 5px;
  width: 220px;
  height: 30px;
  font-size: 15px;
  background-color: #363636;
  border: 1px solid #7c5c0a;
  outline: none;
  color: #ccc;
  padding: 0 10px;
}

.boxContatoHours h2 {
  padding: 8px 0;
}

.boxContatoHours select {
  margin-bottom: 5px;
  width: 220px;
  height: 30px;
  font-size: 15px;
  background-color: #363636;
  border: 1px solid #7c5c0a;
  outline: none;
  color: #ccc;
  padding: 0 10px;
}

.boxContatoDate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContatoAgenda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.boxContatoAgenda .date {
  background-color: #363636;
  text-transform: uppercase;
  padding: 0 9px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: none;
  border: 1px solid #7c5c0a;
}

.boxContatoBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------*/
/*CSS GALERIA*/
.boxGaleria {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background-color: #363636;
}

.boxGaleria h1 {
  color: #ccc;
  padding: 30px 0;
}

.boxGaleriaFlex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.boxGaleriaImg {
  width: auto;
  height: 330px;
}

.boxGaleriaImg img {
  border: 2px solid #7c5c0a;
  width: 100%;
  height: 100%;
}

.boxGaleriaBtn {
  padding: 30px 0;
}

.boxDepoimentos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxDepoimentoDescript {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.boxDepoimentoDescr {
  margin-top: 40px;
  text-align: justify;
  color: #fff;
  padding: 0 30px;
}

.boxDepoimentoCliente {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.boxSocials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxSocialsFLex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.face {
  filter: grayscale(1);
  transition: all ease-in-out 0.8s;
}

.face:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.tw {
  filter: grayscale(1);
  transition: all ease-in-out 0.8s;
}

.tw:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.insta {
  filter: grayscale(1);
  transition: all ease-in-out 0.8s;
}

.insta:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.tk {
  filter: grayscale(1);
  transition: all ease-in-out 0.8s;
}

.tk:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.yt {
  filter: grayscale(1);
  transition: all ease-in-out 0.8s;
}

.yt:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

/*---------------------*/
/*CSS UTILS*/

.boxUtils {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #363636;
  border-top: 2px solid #7c5c0a;
  padding: 5px 0;
}
.boxFooterceMustache {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
}
.boxNavUtilsMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxNavUtilsMenu ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.boxNavUtilsMenu ul li {
  padding: 10px 0;
}

.boxNavUtilsMenu ul li a {
  color: #ccc;
  transition: all ease-in-out 2s;
}

.boxNavUtilsMenu a h3:hover {
  transition: all ease-in-out 1s;
  color: rgba(124, 92, 10, 1);
}

.credits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 15px;
  background-color: #363636;
}
.credits p {
  padding: 2px 0;
}

/*CSS PAGE SERVICE*/
.pageService {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ccc;
  padding-top:25px;
}

.pageService h1,
h2 {
  padding: 20px 0;
  
}

.pageServiceFlex {
  display: flex;
  width: 60%;
  height: 100%;

  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 25px;
  background-color: #808080;
}
.pageServiceFlex h2{
  color: #ccc;
}
.pageServicesPrice {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.pageServicesPrice h2 {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #363636;
}

.pageServicePriceDecript {
  width: 50%;
  margin: 5px auto;
  background-color: #363636;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid #7c5c0a;
  border-radius: 5px;
}

.pageServicePriceDecript {
  font-size: 19px;
  font-weight: bold;
}

.pageServicePriceDecript p {
  font-size: 20px;
  color: #7c5c0a;
}

/*----------------*/
/*CSS PAGE SOBRE*/
.pageSobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ccc;
  padding: 20px;
}
.sobreBanner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pageFlex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  justify-content: center;
  margin-bottom: 50px;
}
.pageText {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.pageTextTitle {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.pageTextImg {
  padding: 0 15px;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageTextImg img {
  border-radius: 5px;
  width: 100%;
  height: 500px;
}
.boxImageBarber {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  margin: 25px 0;
}
.boxImgBarber {
  width: 33%;
  height: 100%;
}
.boxImgBarber img {
  width: 100%;
  height: 450px;
  border: solid 2px #ccc;
}
.boxTextNow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0;
}
.boxTextNow p {
  width: 100%;
  max-width: 500px;
  text-align: justify;
}
/*-------------*/
/*CSS PAGE GALERIA*/
.pageGaleria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ccc;
  padding-top: 50px;
}

.pageGaleria h1,
p {
  padding: 10px 0;
}

.pageGaleria p {
  font-size: 19px;
}

.container-galeria {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  padding: 5px;
  grid-gap: 5px;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.item-galeria {
  position: relative;
  border: 2px solid #7c5c0a;
  cursor: pointer;
}

.item-galeria .img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageContatoGalery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.boxContatoGaleria {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bannerForm.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 0;
}

/*---------------*/
/*CSS PAGE CONTATO*/
.pageContato {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ccc;
}

@media screen and (min-width: 890px) {
  .menuMobile {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  .boxContatoFlex {
    flex-direction: column;
  }

  .boxContatoForm {
    width: 100%;
    max-width: 800px;
  }

  .boxContatoText {
    width: 100%;
  }

  .boxContatoMustache {
    padding-left: 0;
    justify-content: center;
  }

  .boxContatoFormulario {
    padding: 50px 0;
  }

  .boxUtilsFlex {
    flex-direction: column;
  }

  .pageServicePriceDecript {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    gap: 25px;
  }

  .pageServiceFlex {
    padding: 0 25px;
  }
  .pageFlex {
    flex-direction: column;
  }
  .pageText {
    width: 100%;
    text-align: justify;
  }
  .pageTextImg {
    width: 100%;
  }
  .boxImageBarber {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .menuDesk ul {
    display: none;
  }

  .mobile {
    width: 100%;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .boxChamada {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boxChamadaTitle,
  .boxButton {
    text-align: center;
  }

  .boxChamadaText {
    width: 100%;
    max-width: 450px;
    text-align: justify;
    padding: 0 2%;
  }

  .boxSobre {
    height: 100%;
    padding: 15px 0;
  }

  .boxSobreFlex {
    flex-direction: column-reverse;
  }

  .boxSobreText {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .boxSobreDescription {
    width: 100%;
    max-width: 500px;
    padding: 17px 0;
  }

  .boxSobreImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .boxsobreImg img {
    width: 100%;
  }

  .boxServicos {
    height: 100%;
  }

  .boxServicosFlex {
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: 100%;
  }

  .boxService {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 206px;
    height: 206px;
  }

  .boxService:hover {
    margin-top: 30px;
  }

  .boxServiceImg {
    align-items: center;
    justify-content: center;
  }
  .boxGaleriaImg {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50vh;
  }

  .h-2 {
    grid-row: span 1;
  }

  .w-2 {
    grid-column: span 1;
  }
}

@media screen and (max-width: 670px) {
  
  .boxGaleriaFlex > a{
   
    width:80%;
    height: 100%;
  }
  .pageServiceFlex {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .boxContatoFlex {
    padding: 0;
  }
  .boxContatoText {
    padding: 5px;
  }
  .pageServicePriceDecript span,
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 12px;
  }

  span {
    font-size: 16px !important;
  }
}
